<div *ngIf="!selectedAttraction" class="container attraction-container">
  <div class="attractions" *ngFor="let attraction of attractions">
    <div class="attraction-card-header">
      <span>{{ attraction.name }}</span>
    </div>
    <img
      (click)="selectAttraction(attraction.id)"
      id="attraction-img"
      src="{{ attraction.image }}"
    />
  </div>
</div>

<div *ngIf="selectedAttraction" class="attraction-details">
  <div class="attraction-details-container row">
    <div class="col-7">
      <img id="attraction-img" src="{{ selectedAttraction.image }}" />
    </div>
    <div class="col-5">
      <h5>{{ selectedAttraction.name }}</h5>
      <blockquote>{{ selectedAttraction.description }}</blockquote>
      <a target="_blank" href="{{ selectedAttraction.website }}"
        ><button class="btn btn-info" id="websiteButton">
          Visit their Website
        </button></a
      >
      <button
        class="btn btn-danger"
        id="backButton"
        (click)="displayAllAttractions()"
      >
        Display All Attractions
      </button>
    </div>
  </div>

  <hr />

   <app-attraction-comment
    [loggedInUser]="loggedInUser"
    [selectedAttraction]="selectedAttraction"
  >
  </app-attraction-comment>

</div>
