<div *ngIf="selectedAttraction" class="attraction-details">
  <div class="attraction-details-container">
    <button (click)="displayAllAttractions()">x</button>
    <div class="attraction-img-container">
      <img class="attraction-img" src="{{ selectedAttraction.image }}" />
    </div>
    <div>
      <span>{{ selectedAttraction.name }}</span>
      <blockquote>{{ selectedAttraction.description }}</blockquote>
      <button class="btn btn-btn-danger">
        <a target="_blank" href="{{ selectedAttraction.website }}"
          >Go To Website</a
        >
      </button>
    </div>
  </div>
  <div class="attraction-comments">
    <div *ngFor="let comment of selectedAttraction.attractionComments">
      <div
        *ngIf="comment.comment === null && comment.enabled"
        class="attraction-comment"
      >
        <span>{{ comment.user.firstName }}</span>
        <blockquote>{{ comment.content }}</blockquote>
        <button *ngIf="comment" (click)="this.selectedComment = comment">
          Reply
        </button>
        <div *ngIf="this.loggedInUser?.id === comment.user.id">
          <button (click)="deleteComment(comment.id)">Delete</button>
        </div>
      </div>

      <div
        class="attraction-comment-replies"
        *ngFor="let reply of comment.replies"
      >
        <ng-container *ngIf="reply.enabled">
          <span>{{ reply.user.firstName }}</span> Replying To
          <span>{{ reply.comment?.user?.firstName }}</span>
          <blockquote>{{ reply.content }}</blockquote>
          <button *ngIf="comment" (click)="this.selectedComment = reply">
            Reply
          </button>
          <div *ngIf="this.loggedInUser?.id === reply.user.id">
            <button (click)="deleteComment(reply.id)">Delete</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="!selectedComment" class="add-comment-form">
    <form>
      <input
        type="text"
        name="content"
        [(ngModel)]="comment.content"
        placeholder="Leave a comment"
        class="form-control"
      />
      <button (click)="addComment()">Submit</button>
    </form>
  </div>

  <div *ngIf="selectedComment">
    <form>
      <input
        type="text"
        name="content"
        [(ngModel)]="comment.content"
        placeholder="Replying to {{ selectedComment.user.firstName }}"
        class="form-control"
      />
      <button (click)="addReplyComment()">Submit</button>
      <button (click)="selectedComment = null">Cancel</button>
    </form>
  </div>
</div>
