<h5>User Comments about this Place</h5>
<ng-container *ngFor="let comment of attractionComments">
  <div
    *ngIf="comment.comment === null && comment.enabled"
    class="attraction-comment"
  >
    <blockquote class="row attraction-comments">
      <div class="col-8">
        "{{ comment.content }}" {{ comment.user.firstName }}
        {{ comment.user.lastName }}
      </div>
      <div class="col-2">
        <button
          class="btn btn-warning"
          *ngIf="comment && loggedInUser"
          (click)="this.selectedComment = comment"
        >
          Reply
        </button>
      </div>
      <div class="col-2" *ngIf="this.loggedInUser?.id === comment.user.id">
        <button class="btn btn-danger" (click)="deleteComment(comment.id)">
          Delete
        </button>
      </div>

      <div
        class="attraction-comment-replies"
        *ngFor="let reply of comment.replies"
      >
        <ng-container *ngIf="reply.enabled">
          <blockquote class="row attraction-comments">
            <div class="col-8">
              {{ reply.content }} <br />
              {{ reply.user.firstName }} {{ reply.user.lastName }} replied to
              {{ comment.user.firstName }} {{ comment.user.lastName }}
            </div>
            <div class="col-2"></div>
            <div class="col-2" *ngIf="this.loggedInUser?.id === reply.user.id">
              <button class="btn btn-danger" (click)="deleteComment(reply.id)">
                Delete
              </button>
            </div>
          </blockquote>
        </ng-container>
      </div>
    </blockquote>
  </div>
</ng-container>

<div *ngIf="!selectedComment && loggedInUser" class="add-comment-form">
  <form class="row">
    <input
      type="text"
      name="content"
      [(ngModel)]="comment.content"
      placeholder="Leave a comment"
      class="col-8"
    />
    <button class="btn btn-success col-4" (click)="addComment()">Submit</button>
  </form>
</div>

<div *ngIf="selectedComment && loggedInUser">
  <form class="row">
    <input
      type="text"
      name="content"
      [(ngModel)]="comment.content"
      placeholder="Replying to {{ selectedComment.user.firstName }}"
      class="col-8"
    />
    <button class="btn btn-success col-2" (click)="addReplyComment()">
      Submit
    </button>
    <button class="btn btn-danger col-2" (click)="selectedComment = null">
      Cancel
    </button>
  </form>
</div>
