<div *ngIf="!selectedUser" id="userTableDiv" class="container">
  <!-- : <span *ngFor="let state of states" (click)="selectedState = state">{{state}} : </span> -->
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Profile Picture</th>
        <th>Name</th>
        <th>Username</th>
        <th *ngIf="loggedInUser?.role === 'ADMIN'">Enable/Disable</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <!--| state: selectedState -->
        <td>{{ user.id }}</td>
        <td>
          <img
            id="allUsersTablePhoto"
            src="{{ user.image }}"
            alt="Profile photo of {{ user.username }}"
            (click)="displayUserDetails(user)"
          />
        </td>
        <td (click)="displayUserDetails(user)">
          {{ user.firstName }} {{ user.lastName }}
        </td>
        <td (click)="displayUserDetails(user)">{{ user.username }}</td>
        <td *ngIf="loggedInUser?.role === 'ADMIN'">
          <button *ngIf="user.enabled && user.role != 'ADMIN'" class="btn btn-danger" (click)="disableUser(user)">Disable
          </button>
          <button *ngIf="!user.enabled && user.role != 'ADMIN'" class="btn btn-success" (click)="enableUser(user)">Enable
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedUser && !editUser" id="selectedUserDetailsDiv" class="container">
  <div class="row">
      <div class="col-8">
         <h1>User Page</h1>
      </div>
      <div class="col-4">
         <button class="btn btn-primary" id="backButton" (click)="displayUserTable()">Back To Users</button>
      </div>
   </div>
<hr>
   <div class="row">
    <div class="col-5">
      <img
        id="detailsUserPhoto"
        src="{{ selectedUser.image }}"
        alt="Photo of {{ selectedUser.username }}"
      />
      <h3>{{ selectedUser.firstName }} {{ selectedUser.lastName }}  |  ID No. {{ selectedUser.id }}</h3>
      <h4>{{ selectedUser.username }}  |  {{selectedUser.role}} user</h4>
      <blockquote id="userDescription">{{ selectedUser.description }}</blockquote>
      <button class="btn btn-success" id="editButton" (click)="setEditUser()" *ngIf="selectedUser.username === loggedInUser?.username">Edit User</button>
    </div>
    <div class="col-7">
      <h3>Favorite Parks</h3>
      <table class="table table-striped table-hover">
         <thead class="table-dark">
            <tr>
               <th>ID</th>
               <th>Park</th>
               <th>Remove</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let fav of selectedUser.favoriteParks">
               <td>{{fav.id}}</td>
               <td>{{fav.name}}</td>
               <td><button class="btn btn-danger" (click)="removeParkFromFavorites()">X</button></td>
            </tr>
         </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="editUser" id="userEditDiv" class="container">
  <form>
      <label for="password">Password: </label>
      <input type="password" name="password" [(ngModel)]="editUser.password"><br>
      <label for="firstName">First Name: </label>
      <input type="text" name="firstName" [(ngModel)]="editUser.firstName"><br>
      <label for="lastName">Last Name: </label>
      <input type="text" name="lastName" [(ngModel)]="editUser.lastName"><br>
      <label for="image">Profile Picture: </label>
      <input type="url" name="image" [(ngModel)]="editUser.image"><br>
      <label for="description">About You: </label>
      <textarea rows="3" name="description" [(ngModel)]="editUser.description"></textarea><br>
      <button class="btn btn-danger" (click)="editUser = null">Cancel</button>
      <button class="btn btn-success" (click)="updateUser(editUser)">Save</button>
   </form>
</div>
