<div class="row-auto">
  <nav class="navbar navbar-dark bg-dark">
    <a [routerLink]="['/home']" class="navbar-link">
      <button class="btn btn-success" type="button">Home</button></a
    >
    <a [routerLink]="['/parks']" class="nav-link">
      <button class="btn btn-sm btn-primary" type="button">Parks</button></a
    >
    <a [routerLink]="['/contact']" class="nav-link">
      <button class="btn btn-sm btn-primary" type="button">Contact</button></a
    >
    <a [routerLink]="['/register']" class="nav-link">
      <button class="btn btn-sm btn-info" type="button"*ngIf="!checkLoginStatus()">Register</button></a
    >
    <app-login *ngIf="!checkLoginStatus()" (loginSuccess)="handleLoginSuccess($event)">Login</app-login>

    <a [routerLink]="['/users']" class="nav-link">
      <button class="btn btn-sm btn-warning" type="button"*ngIf="checkLoginStatus()">User Page</button></a
    >
    <app-logout *ngIf="checkLoginStatus()" [loggedInUser] = "loggedInUser"></app-logout>
  </nav>
  </div>
