 <ng-container *ngFor="let comment of selectedPark?.parkComments">
  <div *ngIf="comment.comment===null" class="park-comment">
    <span>{{ comment.user.firstName }}</span>
    {{comment.id}}
    <blockquote>{{ comment.content }}</blockquote>
    <button *ngIf="comment" (click)="this.replyToComment = comment">Reply</button>
    <ng-container *ngFor="let reply of comment.replies">
      <div class="park-reply">
        {{reply.id}}
        <span>{{ reply.user.firstName }}</span> Replying to <span>{{ reply.comment?.user?.firstName }}</span>
        <blockquote>{{ reply.content }}</blockquote>
        <button *ngIf="comment" (click)="this.replyToComment = reply">Reply</button>
      </div>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="!replyToComment" class="add-comment-form">
  <form>
    <input
      type="text"
      name="content"
      [(ngModel)]="comment.content"
      placeholder="Leave a comment"
      class="form-control"
    />
    <button (click)="addComment()">Submit</button>
  </form>
</div>

<div *ngIf="replyToComment">
  <form>
    <input
      type="text"
      name="content"
      [(ngModel)]="comment.content"
      placeholder="Replying to {{replyToComment.user.firstName}}"
      class="form-control"
    />
    <button (click)="addReplyComment()">Submit</button>
    <button (click)="replyToComment=null">Cancel</button>
  </form>
</div>
