 <ng-container *ngFor="let comment of selectedPark?.parkComments">
  <div *ngIf="comment.comment===null && comment.enabled" class="park-comment">
    <span>{{ comment.user.firstName }}</span>
    {{comment.id}}
    <blockquote>{{ comment.content }}</blockquote>
    <button *ngIf="comment" (click)="this.selectedComment = comment">Reply</button>
    <button (click)="deleteComment(comment.id)">Delete</button>

    <ng-container *ngFor="let reply of comment.replies">
      <div *ngIf="reply.enabled" class="park-reply">
        {{reply.id}}
        <span>{{ reply.user.firstName }}</span> Replying to <span>{{ reply.comment?.user?.firstName }}</span>
        <blockquote>{{ reply.content }}</blockquote>
        <button *ngIf="comment" (click)="this.selectedComment = reply">Reply</button>
        <div *ngIf="this.loggedInUser?.id === reply.user.id">
          <button (click)="deleteComment(reply.id)">Delete</button>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="!selectedComment" class="add-comment-form">
  <form>
    <input
      type="text"
      name="content"
      [(ngModel)]="comment.content"
      placeholder="Leave a comment"
      class="form-control"
    />
    <button (click)="addComment()">Submit</button>
  </form>
</div>

<div *ngIf="selectedComment">
  <form>
    <input
      type="text"
      name="content"
      [(ngModel)]="comment.content"
      placeholder="Replying to {{selectedComment.user.firstName}}"
      class="form-control"
    />
    <button (click)="addReplyComment()">Submit</button>
    <button (click)="selectedComment=null">Cancel</button>
  </form>
</div>
