.form-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid;
}

.form-label {
  font-size: 16px;
  color: #fcf7f7;
  margin-bottom: 5px;
}

.form-input {
  border: 1px solid #0f0e0e;
  padding: 5px;
  font-size: 14px;
  color: #0b0a0a;
  width: 300px;
  height:30px;
}

.textarea-description {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.form-about {
  text-align: center;
}

.container-registerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, label {
  display: block;
}
