/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: max-content;
} */

ngb-carousel{
  height: 600px;
  display: flex !important;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
h1{
  text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.homeIntroDiv{
  align-items: center;
}

.carousel-inner {
  /* height: 100% !important;
  width: 100%; */
  padding: 1em;
height: 500px;
}
.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  height: 500px;
}

#carouselPhoto  {
  /* max-width: auto; */
  max-height: 100%;
  padding: 10px;
  border-style: ridge;
  border-width: 2px;
  margin: 20px;
  background-color: transparent;
  border-color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.carousel-caption{
background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border: none;
  border-radius: 10px;
}
