<div id="homeTableDiv" class="container">
  <h2>Welcome to Parks Website:</h2>

  <ul>
    <li>Explore National Parks.</li>
    <li>Find Local Shops and Attactions.</li>
    <li>
      Registered Users can Share their photos, local experinces, and socialize
      with other users.
    </li>
  </ul>
</div>

<hr />


  <ngb-carousel *ngIf="parks">
    <ng-template
      ngbSlide
      carousel-item
      row
      text-center
      *ngFor="let chunk of parks; let i = index"
    >
      <div class="cards-wrapper">
        <div
          class="card {{ i == 0 ? 'active' : 'd-none d-md-block' }}"
          *ngFor="let park of chunk; let i = index"
          (click)="displayParkDetails(park)"
        >
          <div *ngIf="selectedPark">
            <app-park [selectedPark]="selectedPark"></app-park>
          </div>
          <img
            src="{{ park.image }}"
            class="d-block"
            alt="Photo of {{ park.name }}"
          />
          <div class="carousel-caption d-md-block">
            <h5>{{ park.name }}</h5>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

<hr />
