<div id="homeTableDiv" class="container">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>About:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Welcome to Parks Website, where you can explore National Parks.
          Find local Shops and Attractions close by National Parks.
          Users who register can share photos, local experiences, and socialize with other users to share their photos and experiences.
      </td>
      </tr>
    </tbody>
  </table>
</div>
