<div class="jumbotron text-center">
  <h1><em>MEET THE TEAM</em></h1>

  <div class="about-us-desc text-center">
    <p>
      We are a group of Java Bootcamp students who collaborated on this National
      Parks Travel Application Website. We leveraged Spring Tool Suite 4 (STS4),
      Angular and embraced Agile methodologies to deliver a high-quality web
      application. Our project management was streamlined using Trello, allowing
      us to organize tasks and track progress. We developed a robust full stack
      website using MySQL, JPA, REST, and Angular implementing CRUD
      functionalities for seamless interaction. Spring Security was utilized for
      efficient user session management. CSS styling was applied to create
      visually appealing interfaces. Our project was built on the principles of
      object-oriented programming (OOP), ensuring a scalable solution. We are
      excited to share our project with you. Reach out to us through the links
      below. <br />Thanks for visiting!
    </p>
  </div>
</div>
<div class="container about-us-photo-container flex-fill">
  <div class="row d-flex">
    <div class="col-lg-4 mb-4 about-us-containers">
      <img
        class="about-us-photo"
        src="https://media.licdn.com/dms/image/D5635AQHvt9vh3lzZfw/profile-framedphoto-shrink_800_800/0/1687288767913?e=1688403600&v=beta&t=YiUHcX6rJqx-YfLv2Jx1Rg79ky9OxJ48H6rd33YNXXA"
        alt="Photo of Jennifer"
      />
      <div class="name-line">
        <h4><span>Jennifer Kalkowski</span></h4>
        <hr />
        <div class="row-auto about-us-icons">
          <div class="col-4">
            <a href="https://github.com/jennkal"
              ><img
                src="https://cdn-icons-png.flaticon.com/256/25/25231.png"
                class="fab fa-github"
              />
            </a>
          </div>
          <div class="col-4">
            <a href="https://www.linkedin.com/in/jennifer-kalkowski-900b60b6/"
              ><img
                src="https://cdn-icons-png.flaticon.com/256/174/174857.png"
                class="fab fa-linkedin"
              />
            </a>
          </div>
          <div class="col-4">
            <a href="mailto:jennkalkowski@gmail.com"
              ><img
                src="https://cdn-icons-png.flaticon.com/512/3494/3494693.png"
                class="far fa-envelope"
              />
            </a>
          </div>
        </div>
      </div>
      <hr />
      <blockquote>
        Certified Welder/Fabricator and graduate of a Java Full-Stack
        Development Bootcamp, looking for a challenging software developer/QA
        position.
      </blockquote>
    </div>
    <div class="col-lg-4 mb-4 about-us-containers">
      <img
        class="about-us-photo"
        src="https://media.licdn.com/dms/image/D5635AQHrVhBEut9pUQ/profile-framedphoto-shrink_800_800/0/1687288716142?e=1688403600&v=beta&t=NcFMiSb1fgKbH0I5C9SedgDTu6qS2BlsYV-AIVeK3f4"
        alt="Photo of Patrick"
      />
      <div class="name-line">
        <h4>
          <span>Patrick Hansen</span>
        </h4>
        <hr />
        <div class="row-auto about-us-icons">
          <div class="col-4">
            <a href="https://github.com/Hanyloick"
              ><img
                src="https://cdn-icons-png.flaticon.com/256/25/25231.png"
                class="fab fa-github"
              />
            </a>
          </div>
          <div class="col-4">
            <a href="https://www.linkedin.com/in/patrick-hansen-3b7610272/"
              ><img
                src="https://cdn-icons-png.flaticon.com/256/174/174857.png"
                class="fab fa-linkedin"
              />
            </a>
          </div>
          <div class="col-4">
            <a href="mailto:hansen.patrick.d@gmail.com"
              ><img
                src="https://cdn-icons-png.flaticon.com/512/3494/3494693.png"
                class="far fa-envelope"
              />
            </a>
          </div>
        </div>
      </div>
      <hr />
      <blockquote>
        Professional chef and graduate of a Java Full Stack development
        bootcamp, looking for a software development/QA position.
      </blockquote>
    </div>
    <div class="col-lg-4 mb-4 about-us-containers">
      <img
        class="about-us-photo"
        src="https://media.licdn.com/dms/image/D5635AQHY9VccAewmcQ/profile-framedphoto-shrink_400_400/0/1686682541950?e=1688403600&v=beta&t=XquXw8HL3vWkVsWoKZa7GorMCYOXTDaQFd7LOqNJD3c"
        alt="Photo of Samantha"
      />
      <div class="name-line">
        <h4>
          <span>Samantha Addingtion</span>
        </h4>
        <hr />
        <div class="row-auto about-us-icons">
          <div class="col-4">
            <a href="https://github.com/skaddington"
              ><img
                src="https://cdn-icons-png.flaticon.com/256/25/25231.png"
                class="fab fa-github"
              />
            </a>
          </div>
          <div class="col-4">
            <a href="https://www.linkedin.com/in/samantha-addington-b91325b4/"
              ><img
                src="https://cdn-icons-png.flaticon.com/256/174/174857.png"
                class="fab fa-linkedin"
              />
            </a>
          </div>
          <div class="col-4">
            <a href="mailto:skaddington92@gmail.com"
              ><img
                src="https://cdn-icons-png.flaticon.com/512/3494/3494693.png"
                class="far fa-envelope"
              />
            </a>
          </div>
        </div>
      </div>
      <hr />
      <blockquote>
        Marine Corps Veteran, ATC trainee, and graduate of an intensive Java
        Full-Stack coding bootcamp, looking for a challenging software
        development or QA position.
      </blockquote>
    </div>
  </div>
</div>
